@charset "UTF-8";

body {
	background-color: #0E0B16;
	text-align: center;
	background-image: url("/images/beerCoasters.jpg");
	background-repeat: no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-decoration: underline;
}

h3 {
	text-decoration: underline;
}

title {
	text-align: center
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

a:link, a:visited {
	background-color: #706F74;
	color: #E7DDFD;
	padding: 5px 9px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px 50px;
}

a:hover, a:active {
	background-color: #4717F6;
}

label {
	color: #E7DDFD;
}

#add {
	padding-top: 50px;
	padding-bottom: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	background: #706F74;
	padding: 20px;
	width: 300px;
	height: auto;
	opacity: 0.96;
}

#main {
	margin: auto;
	background: #706F74;
	border-radius: 15px;
	padding: 20px;
	width: 200px;
	height: auto;
	opacity: 0.96;
	padding: 20px;
	width: 200px;
	border-radius: 15px;
	border-color: #A239CA;
	border-style: solid;
	border-width: 2px;
}